<!-- <div class="auth-bg">
  <div class="auth-wrapper">
    <h2 class="app-name">Cognito Edge</h2>
    <div class="auth-card">
      <h1>Sign Up</h1>
      <form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-form>
        <nz-form-item>
          <nz-form-control nzErrorTip="Invalid email">
            <input nz-input placeholder="Email" formControlName="email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Invalid password">
            <input nz-input type="password" placeholder="Password" formControlName="password" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Invalid name">
            <input nz-input placeholder="Name" formControlName="name" />
          </nz-form-control>
        </nz-form-item>

        <button nz-button class="auth-button" [nzType]="'primary'">Register</button>

        <p class="switch-link">
          Or <a routerLink="/login">login now!</a>
        </p>
      </form>
    </div>
  </div>
</div>-->
