<div class="auth-bg">
  <div class="auth-wrapper">
    <h2 class="app-name">Cognito Edge</h2>
    <div class="auth-card">
      <h1>Login</h1>
      <form [formGroup]="validateForm" (ngSubmit)="submitForm()" nz-form>
        <nz-form-item>
          <nz-form-control nzErrorTip="Invalid email">
            <input nz-input placeholder="Email" formControlName="email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzErrorTip="Invalid password">
            <input nz-input type="password" placeholder="Password" formControlName="password" />
          </nz-form-control>
        </nz-form-item>

        <button nz-button class="auth-button" [nzType]="'primary'">Log in</button>

       
      </form>
    </div>
  </div>
</div>
